{{#each frutas}}
<div class="card col-4">
    <div class="card-body">
        <h5 class="card-title">{{this.nombre}}</h5>
    </div>
    <img src="./assets/img/{{this.nombre}}.png" class="card-img-top" alt="...">
</div>
{{/each}}

